@using NetCoreMentoring.App.Controllers
@model NetCoreMentoring.App.Models.CategoryPictureViewModel

@{
    ViewData["Title"] = "Category Picture";
}

<h1>Picture for category - @Model.CategoryName</h1>

<br/>
<br/>

<form enctype="multipart/form-data" method="post" asp-action="UpdatePicture">
    <dl>
        <dt>
            <label asp-for="FormFile">Update Picture</label>
        </dt>
        <dd>
            <input asp-for="FormFile" type="file" />
            <span asp-validation-for="FormFile"></span>
        </dd>
    </dl>
    <input type="hidden" asp-for="CategoryId" />
    <input class="btn" type="submit" value="Upload" />
</form>